@use "../../../styles/tools.scss" as *;

.header_nav {
    @include flex-row($jc: center, $g: clamp(1rem, 2vw, 2.5rem));
    width: 35%;
    min-width: 355px;
    height: 100%;
    flex:1;
}

.header_link {
    text-align: center;
    
}

.header_link.active {
    color: var(--color-link-hover);
}