@use "../../../styles/tools.scss" as *;


.rythm_section {
    min-height: 100dvh;
    background-color: var(--color-bg-primary);
    gap: 2rem;
}


.rythm_content {
    flex: 1;
    width: 100%;
    max-width: 1400px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(55px, 6.5vw, 70px);
    justify-items: center;
    align-items: center;
    .subtitle {
        font-size: clamp(28px, 4vw, 36px);
        
        &:nth-child(1) {
            transform: translateX(-5px) translateY(-5px);
            transition: transform 0.8s ease;
        }
        &:nth-child(2) {
            transform: translateX(5px) translateY(-5px);
            transition: transform 0.8s ease;
        }
        &:nth-child(3) {
            transform: translateX(-5px) translateY(5px);
            transition: transform 0.8s ease;
        }
        &:nth-child(4) {
            transform: translateX(5px) translateY(5px);
            transition: transform 0.8s ease;
        }
    }
}

.rythm_section:hover .subtitle {
    transform: translateY(0) translateX(0);
}

@media (max-width: 768px) {
    .rythm_section {.title {
        font-size: clamp(32px, 10vw, 42px);
    }}
    .rythm_content {
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }
    
}