#lang-btn {
  border: none;
  background: transparent;
  font-family: var(--font-link);
  font-size: var(--link-font-size);
  letter-spacing: var(--letter-spac-s);
  line-height: var();
  color: var(--color-link-default);
  &:hover{color: var(--color-link-hover)};
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  appearance: none;
}